/*Card*/
.card {
    width: 100%;
    height: 37.5vh;
    margin: 2% 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 14px 20px 0 rgba(35,35,36,.05);
}

.empty-card {
    width: 100%;
    height: 37.1vh;
    margin: 2% 0;
    border: dashed 2px #cccccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.close-button {
    float: right;
    color: #cccccc;
    font-size: 1vw;
    font-weight: bold;
    margin: 1vh .5vw;
    padding: .25% 2%;
    border-radius: 10px;
}

.card-body {
    padding: 4%;
    padding-left: 5%;
    padding-right: 5%;
}